div {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.red {
  border-style: solid;
  border-color: rgba(255, 0, 0, 1) rgba(255, 0, 0, 0.75) rgba(255, 0, 0, 0.5)
    rgba(255, 0, 0, 0.25);
}
.green {
  border-style: solid;
  border-color: rgba(0, 255, 0, 1) rgba(0, 255, 0, 0.75) rgba(0, 255, 0, 0.5)
    rgba(0, 255, 0, 0.25);
}

.blue {
  border-style: dotted;
  border-color: rgba(0, 0, 255, 1) rgba(0, 0, 255, 0.75) rgba(0, 0, 255, 0.5)
    rgba(0, 0, 255, 0.25);
}
